In [29]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

from import_file import  *
load_libs()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
instrument = Instrument()
code = 'jl8'
df = instrument.bar(code, asset='future')
df.head()
df.tail()

              open    high     low   close  openInt   volume     comment
datetime
2013-08-19  1581.0  1626.0  1575.0  1598.0   265954  1422828  1153998848
2013-08-20  1594.0  1613.0  1590.0  1602.0   250156  1235194  1153966080
2013-08-21  1605.0  1613.0  1599.0  1607.0   244908   841072  1153998848
2013-08-22  1603.0  1619.0  1596.0  1606.0   250436  1008156  1154007040
2013-08-23  1608.0  1645.0  1607.0  1640.0   267560  1274666  1154203648

              open    high     low   close  openInt  volume     comment
datetime
2017-09-19  2188.0  2228.0  2174.0  2177.0   269970  345808  1158232064
2017-09-20  2175.0  2210.0  2110.0  2197.0   290234  543772  1158082560
2017-09-21  2199.5  2216.0  2085.0  2086.0   293604  533580  1158037504
2017-09-22  2085.0  2094.5  2026.0  2032.0   284146  406738  1157687296
2017-09-25  2040.0  2064.0  1956.0  2012.5   297574  599836  1157300224

In [30]:
chart = Highstock()
options = {
        'rangeSelector': {
            'selected': 1,
            'inputDateFormat': '%Y-%m-%d'
        },
        'title': {
            'text': code
        },
        'xAxis': {
            'dateTimeLabelFormats': {
                'millisecond': '%H:%M:%S.%L',
                'second': '%H:%M:%S',
                'minute': '%H:%M',
                'hour': '%H:%M',
                'day': '%m-%d',
                'week': '%m-%d',
                'month': '%y-%m',
                'year': '%Y'
            }
        },
        'yAxis': [{
            'labels': {
                'align': 'right',
                'x': -3
            },
            'title': {
                'text': '股价'
            },
            'height': '60%',
            'lineWidth': 2
        }, {
            'labels': {
                'align': 'right',
                'x': -3
            },
            'title': {
                'text': '成交量'
            },
            'top': '65%',
            'height': '35%',
            'offset': 0,
            'lineWidth': 2
        }],
}

chart.set_dict_options(options)

In [ ]:
chart.add_data_set

In [9]:
from scipy import signal
xs = np.arange(0, np.pi, 0.05)
data = np.sin(xs)
peakind = signal.find_peaks_cwt(data, np.arange(1,10))
peakind, xs[peakind], data[peakind]

(array([32], dtype=int64), array([ 1.6]), array([ 0.9995736]))

In [28]:
from highcharts import Highstock
from highcharts.highstock.highstock_helper import jsonp_loader
H = Highstock()

data_url = 'http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?'
H.add_data_from_jsonp(data_url, 'json_data', 'line', 'AAPL', tooltip = {
    'valueDecimals': 2
    }
)

options = {
    'rangeSelector' : {
            'selected' : 1
        },

    'title' : {
        'text' : 'AAPL Stock Price'
    },
}
H.set_dict_options(options)

H